.scroll-container {
    width: 100%; 
    height: 100vmin; 
    overflow-y: auto; 
    overflow-x: auto;
  }
  
  .list-scroll {
    width: 100%; 
    height: 350px;
    overflow-y: auto; 
    overflow-x: auto;
  }

  .scroll-container::-webkit-scrollbar {
    width: 1em;
} 
 
.list-scroll::-webkit-scrollbar {
  width: 1em;
} 